
.container{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
@media screen and (min-width: 768px) {
  .hero {
    grid-column: span 2;
  }
}

  
  .container .title {
    font: var(--font-title-big);
    margin-bottom: 8px;
  }
  
  .container .container__text {
    font: var(--font-text-big);
    text-align: center;
    margin-inline: 4rem;
    margin-bottom: 1.8rem;
  }


 .create{
    margin: 8px;
    padding: 5px 18px;
    color: var(--color-white);
    font: var(--font-button);
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    background-image: linear-gradient(to right, var(--color-dark-lilac) -2%, #c0b7e8 98%);    
 }
  